@import "tailwindcss";

@theme {
  --color-tertiary-fixed: #f8e0a8;
  --color-surface-variant: #e4e0d8;
  --color-surface-container-low: #f5f1ea;
  --color-secondary-container: #f0e8db;
  --color-on-surface: #2e3230;
  --color-surface-dim: #dbd7cf;
  --color-secondary-fixed: #f0e8db;
  --color-on-secondary-fixed-variant: #4a4538;
  --color-secondary: #6b6358;
  --color-on-secondary-fixed: #1e1a13;
  --color-surface-container-high: #eae6de;
  --color-on-error-container: #690005;
  --color-on-primary-fixed: #002110;
  --color-tertiary-container: #c4a66a;
  --color-surface-container-highest: #e4e0d8;
  --color-primary-container: #78a886;
  --color-on-tertiary-container: #554020;
  --color-surface-container-lowest: #ffffff;
  --color-outline: #74796e;
  --color-inverse-primary: #8ecf9e;
  --color-on-primary-container: #d8f0de;
  --color-tertiary-fixed-dim: #dcc48e;
  --color-surface-bright: #faf6f0;
  --color-tertiary: #705c30;
  --color-surface-tint: #4a7c59;
  --color-on-primary: #ffffff;
  --color-inverse-on-surface: #f5f0e8;
  --color-outline-variant: #c4c8bc;
  --color-inverse-surface: #2e3230;
  --color-on-primary-fixed-variant: #2a6038;
  --color-primary: #4a7c59;
  --color-surface-container: #f0ece4;
  --color-error-container: #ffdad8;
  --color-primary-fixed: #c8e8d0;
  --color-on-secondary-container: #5e5548;
  --color-background: #faf6f0;
  --color-primary-fixed-dim: #8ecf9e;
  --color-on-tertiary: #ffffff;
  --color-error: #b83230;
  --color-surface: #faf6f0;
  --color-on-secondary: #ffffff;
  --color-on-background: #2e3230;
  --color-on-tertiary-fixed-variant: #554020;
  --color-on-surface-variant: #4a4e4a;
  --color-secondary-fixed-dim: #d4ccbf;
  --color-on-error: #ffffff;
  --color-on-tertiary-fixed: #221a05;

  --font-headline: "Literata", serif;
  --font-display: "Literata", serif;
  --font-body: "Nunito Sans", sans-serif;
  --font-label: "Nunito Sans", sans-serif;

  --spacing-margin-mobile: 1.25rem;
  --spacing-margin-desktop: 5rem;
  --spacing-gutter: 1.5rem;
  --spacing-md: 1.5rem;
  --spacing-xl: 4rem;
}